<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RpgEntities"
     connectionString="data source=LEVSKI1914\MSSQLSERVER2022;initial catalog=RpgDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>